.parallax {
  position: relative;
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 0.0rem;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  line-height: 1.15;
}

.scroller span {
  flex-shrink: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1.15 !important;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .gradient-text {
    line-height: 1.15 !important;
  }
} 